<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186485235031-bn3a69oullk678s3docaml6loc9miqmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186485235031-bn3a69oullk678s3docaml6loc9miqmv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>186485235031-2iimnqj6es8vn9tvspo7tlup2hd4kaoq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA58BYB2E-7z9qjZNWN8qyAhoCnrTXputs</string>
	<key>GCM_SENDER_ID</key>
	<string>186485235031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoFirebase23</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebase2-3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebase2-3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186485235031:ios:a2821072f8fb3cfab87212</string>
</dict>
</plist>